@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px;
}
@media (max-width: 1200px) {
  .container {
    width: 95%;
    padding: 50px 60px;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 95%;
    padding: 50px 20px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 50px 40px;
  }
}
@media (max-width: 375px) {
  .container {
    width: 95%;
    padding: 30px 0px;
  }
}

.main,
.header {
  overflow: hidden;
}

.header {
  position: relative;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
}
.header .nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header .nav {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.header .nav__logo {
  position: relative;
  display: flex;
  align-items: center;
  flex-basis: 100%;
  height: 110px;
  z-index: 1;
}
@media (max-width: 768px) {
  .header .nav__logo {
    flex-basis: 50%;
    order: 2;
  }
}
@media (max-width: 375px) {
  .header .nav__logo {
    margin-top: 30px;
  }
}
.header .nav__logo .servise__item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* Basic/White */
  color: #ffffff;
  opacity: 0;
}
@media (max-width: 375px) {
  .header .nav__logo .servise__item {
    opacity: 1;
    margin-left: 20px;
  }
}
.header .nav__logo .nav__menu {
  cursor: pointer;
  margin-left: 65px;
  opacity: 0;
}
@media (max-width: 375px) {
  .header .nav__logo .nav__menu {
    opacity: 1;
  }
}
.header .nav__logo .nav__menu .menu__item::before {
  content: "";
  display: block;
  width: 30px;
  height: 2.5px;
  background-color: white;
  margin-top: 7px;
}
.header .nav__logo .nav__menu .menu {
  opacity: 0;
  position: fixed;
  top: 450px;
  left: 6px;
  margin-top: 10px;
  background-color: white;
  border-radius: 12px 12px 0px 0px;
  width: 363px;
  height: 350px;
}
@media (max-width: 375px) {
  .header .nav__logo .nav__menu .menu {
    opacity: 1;
  }
}
.header .nav__logo .nav__menu .menu .menu__items {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header .nav__logo .nav__menu .menu .menu__items .button {
  padding-top: 20px;
}
.header .nav__logo .nav__menu .menu .menu__items .button .button__text {
  width: 335px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43px;
  background: #f5f5fa;
  border-radius: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #24a3ff;
}
.header .nav__logo .nav__menu .menu .menu__items .button .button__text:hover {
  background: #e6e6eb;
}
.header .nav .nav__link {
  flex-basis: 50%;
}
@media (max-width: 768px) {
  .header .nav .nav__link {
    display: flex;
    justify-content: flex-start;
    flex-basis: 150%;
    order: -1;
  }
}
@media (max-width: 375px) {
  .header .nav .nav__link {
    background: rgba(245, 245, 250, 0.2);
    height: 50px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media (max-width: 375px) {
  .header .nav .nav__link .nav__adress,
.header .nav .nav__link img,
.header .nav .nav__link .circle {
    opacity: 0;
  }
}
.header .nav .nav__link,
.header .nav .nav__servises {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -moz-column-gap: 14px;
       column-gap: 14px;
  z-index: 1;
}
@media (max-width: 768px) {
  .header .nav .nav__link,
.header .nav .nav__servises {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
.header .nav .nav__link .nav__item,
.header .nav .nav__link .nav__btn,
.header .nav .nav__servises .nav__item,
.header .nav .nav__servises .nav__btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
}
.header .nav .nav__link .nav__btn,
.header .nav .nav__servises .nav__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 25px;
  background: #f0145a;
  border-radius: 8px;
}
.header .nav .nav__link .nav__adress,
.header .nav .nav__servises .nav__adress {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: right;
  color: #ffffff;
}
.header .nav .nav__link .nav__phone,
.header .nav .nav__servises .nav__phone {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.header .nav .nav__link .circle::before,
.header .nav .nav__servises .circle::before {
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .header .nav .nav__servises {
    display: flex;
    justify-content: flex-start;
    order: 2;
  }
}
@media (max-width: 768px) and (max-width: 375px) {
  .header .nav .nav__servises {
    opacity: 0;
  }
}
.header .nav .nav__servises .nav__text,
.header .nav .nav__servises .nav__text--primary {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #ffffff;
}
.header .picture {
  position: relative;
  bottom: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .picture__items {
  position: absolute;
  top: 368px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: white;
}
.header .picture__btn {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.header .info {
  display: none;
  justify-content: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (max-width: 768px) {
  .header .info {
    flex-direction: column;
  }
}
.header .info_active {
  display: flex;
}
.header .info-element {
  content: "";
  display: block;
  width: 4px;
  height: 250px;
  background: rgba(255, 255, 255, 0.3);
}
@media (max-width: 768px) {
  .header .info-element {
    width: 700px;
    height: 0;
    height: 5px;
    margin-top: 60px;
  }
}
.header .info__items {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  -moz-column-gap: 30px;
       column-gap: 30px;
  font-size: 38px;
  width: 30%;
}
@media (max-width: 768px) {
  .header .info__items {
    display: flex;
    flex-direction: row;
  }
}
.header .info__items .info__text--special {
  color: #f0145a;
  line-height: 30px;
  text-align: right;
}
.header .info__items .info__text {
  padding-top: 30px;
  color: #b3b3ba;
  text-align: right;
}
@media (max-width: 768px) {
  .header .info__items .info__text {
    padding-top: 0;
  }
}
.header .info .info__primary {
  padding-top: 10px;
  width: 50%;
}
.header .info .info__primary .info__text--primary {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
  color: white;
}
@media (max-width: 1024px) {
  .header .info .info__primary .info__text--primary {
    width: 405px;
  }
}
@media (max-width: 768px) {
  .header .info .info__primary .info__text--primary {
    width: 200%;
    margin-top: 60px;
  }
}
@media (max-width: 375px) {
  .header .info .info__primary .info__text--primary {
    width: 315px;
  }
}
.header .info .info__primary .info__text--secondary {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  font-style: normal;
  color: white;
}
@media (max-width: 1024px) {
  .header .info .info__primary .info__text--secondary {
    width: 405px;
  }
}
@media (max-width: 768px) {
  .header .info .info__primary .info__text--secondary {
    width: 648px;
  }
}
@media (max-width: 375px) {
  .header .info .info__primary .info__text--secondary {
    width: 315px;
  }
}
.header .servises {
  padding-top: 74px;
}
.header .servises__title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}
.header .servises__subtitle {
  color: #f0145a;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
}
@media (max-width: 375px) {
  .header .servises__subtitle {
    width: 315px;
  }
}
.header .icon {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
@media (max-width: 1024px) {
  .header .icon {
    display: flex;
    flex-wrap: wrap;
  }
}
.header .icon__title {
  padding-top: 60px;
}
.header .icon__title .icon__text--special {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  width: 400px;
  padding-top: 15px;
  color: #24a3ff;
}
@media (max-width: 1024px) {
  .header .icon__title .icon__text--special {
    width: 261px;
  }
}
@media (max-width: 768px) {
  .header .icon__title .icon__text--special {
    width: 294px;
  }
}
@media (max-width: 375px) {
  .header .icon__title .icon__text--special {
    width: 315px;
  }
}
.header .icon__title .icon__text {
  width: 400px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  padding-top: 15px;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .header .icon__title .icon__text {
    width: 261px;
  }
}
@media (max-width: 768px) {
  .header .icon__title .icon__text {
    width: 294px;
  }
}
@media (max-width: 375px) {
  .header .icon__title .icon__text {
    width: 315px;
  }
}

.main .line__wrapper {
  margin: 0 20px;
}
.main .line__wrapper .line::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: #cacadb;
  border-radius: 0 0 12px 12px;
}
.main .line__additionally {
  margin: 0 40px;
}
.main .line__additionally .line__item::after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background: #e7e7f2;
  border-radius: 0 0 12px 12px;
}
.main .about-us {
  display: flex;
  margin-top: 20px 0 0 0;
}
@media (max-width: 375px) {
  .main .about-us {
    display: flex;
    flex-direction: column;
  }
}
.main .about-us__title {
  position: relative;
}
@media (max-width: 1024px) {
  .main .about-us__title img {
    width: 400px;
    height: 518px;
  }
}
.main .about-us__title__picture {
  border-radius: 12px 0 0 12px;
  opacity: 1;
}
.main .about-us__title .img {
  width: 400px;
  height: 344px;
  opacity: 0;
  position: absolute;
  left: 0;
}
.main .about-us__subtitle {
  width: 1320px;
  height: 344px;
  background: #f5f5fa;
  border-radius: 12px;
}
@media (max-width: 1024px) {
  .main .about-us__subtitle {
    width: 1320px;
    height: 530px;
  }
}
@media (max-width: 375px) {
  .main .about-us__subtitle {
    width: 405px;
    height: 900px;
  }
}
.main .about-us__subtitle {
  padding: 30px 20px;
}
.main .about-us__subtitle .about-us__text,
.main .about-us__subtitle .about-us__text--special,
.main .about-us__subtitle .about-us__text--primary {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main .about-us__subtitle .about-us__text {
  color: #b3b3ba;
  font-size: 16px;
  text-transform: none;
}
.main .about-us__subtitle .about-us__text--special {
  color: #24a3ff;
  margin-bottom: 5px;
}
.main .about-us__subtitle .about-us__text--primary {
  font-size: 30px;
  width: 710px;
  line-height: 46px;
  margin-bottom: 50px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-emphasis-color: transparent;
          text-emphasis-color: transparent;
  text-transform: none;
}
@media (max-width: 1024px) {
  .main .about-us__subtitle .about-us__text--primary {
    width: 444px;
    font-size: 38px;
  }
}
@media (max-width: 375px) {
  .main .about-us__subtitle .about-us__text--primary {
    width: 255px;
  }
}
.main .about-us__subtitle .about-us__text--secondary {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #b3b3ba;
  font-size: 14px;
  margin-top: 6px;
}
.main .btn {
  display: flex;
  justify-content: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  margin-top: 30px;
}
.main .btn__slider, .main .btn__slider--primary, .main .btn__slider--secondary {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.main .btn__slider {
  background: #24a3ff;
}
.main .btn__slider--primary, .main .btn__slider--secondary {
  background: #24a3ff;
  transition: 0.5s all;
  cursor: pointer;
  opacity: 0.2;
}
.main .btn__slider--primary:hover, .main .btn__slider--secondary:hover {
  background: #24a3ff;
  opacity: 1;
  transition: 0.5s all;
}
.main .text__title {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
}
.main .clients {
  display: flex;
  padding-top: 30px;
  flex-wrap: wrap;
}
.main .clients img {
  width: 420px;
}

.footer {
  background: #f5f5fa;
}
.footer .footer__text .footer__item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}
.footer .footer__text .footer__item--primary {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-top: 10px;
}
.footer .contact__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 375px) {
  .footer .contact__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
.footer .contact__wrapper .contact {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.footer .contact__wrapper .contact__info {
  padding: 0 30px;
  width: 420px;
  height: 250px;
  background: #ffffff;
  border-radius: 8px;
}
.footer .contact__wrapper .contact__info .info-element {
  content: "";
  display: block;
  width: 360px;
  height: 4px;
  background: #e6e6f0;
  margin-bottom: 15px;
}
.footer .contact__wrapper .contact__info .contact__text--primary {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-top: 30px;
  color: #24a3ff;
}
.footer .contact__wrapper .contact__info .contact__text--special {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
}
.footer .contact__wrapper .contact__info .contact__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  width: 360px;
  color: #000000;
}
.footer .info__element {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #e6e6f0;
  margin-top: 30px;
}
.footer .footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__nav .nav-social__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
.footer .footer__nav .nav-social__wrapper .nav__social {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 21px;
}
.footer .footer__nav .nav-social__wrapper .nav__social .nav-social__item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}
.footer .footer__nav .nav-social__wrapper .nav__social .circle::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #b3b3ba;
}
.footer .footer__nav .nav-social__wrapper .nav__social .nav-social__primary {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 1px;
  text-transform: uppercase;
  /* Active / Regular */
  color: #24a3ff;
}
.footer .footer__nav .nav-social__wrapper .nav__social .nav__number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #46466e;
}
.footer .footer__nav .nav-social__wrapper .nav__social .nav__email {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24a3ff;
}
.footer .footer__nav .nav-social__info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: right;
  /* Grey / Text */
  color: #b3b3ba;
}/*# sourceMappingURL=style.css.map */