@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.container {
  width: 100%;
  margin: 0 auto;
  padding: 50px 50px;
}
@media (max-width: 1200px) {
  .container {
    width: 95%;
    padding: 50px 60px;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 95%;
    padding: 50px 20px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 50px 40px;
  }
}
@media (max-width: 320px) {
  .container {
    width: 95%;
    padding: 50px 20px;
  }
}

.header {
  overflow: hidden;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
}
.header .nav {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header .nav {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
  }
}
.header .nav__logo {
  z-index: 1;
}
.header .nav__primary {
  display: flex;
  flex-direction: column;
}
.header .nav__primary .nav__items,
.header .nav__primary .nav__items--additionally {
  z-index: 1;
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  color: white;
}
.header .nav__primary .nav__items .nav__item,
.header .nav__primary .nav__items--additionally .nav__item {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.header .nav__primary .nav__items .nav__item--special,
.header .nav__primary .nav__items--additionally .nav__item--special {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.header .nav__primary .nav__items .circle:hover::before,
.header .nav__primary .nav__items--additionally .circle:hover::before {
  background-color: #f0145a;
}
.header .nav__primary .nav__items .nav__item .nav__link,
.header .nav__primary .nav__items .nav__item--special .nav__link,
.header .nav__primary .nav__items--additionally .nav__item .nav__link,
.header .nav__primary .nav__items--additionally .nav__item--special .nav__link {
  transition: 500ms;
}
.header .nav__primary .nav__items .nav__item .nav__link:hover,
.header .nav__primary .nav__items .nav__item--special .nav__link:hover,
.header .nav__primary .nav__items--additionally .nav__item .nav__link:hover,
.header .nav__primary .nav__items--additionally .nav__item--special .nav__link:hover {
  color: #f0145a;
  transition: 500ms;
}
.header .nav__primary .nav__items .btn,
.header .nav__primary .nav__items--additionally .btn {
  width: 33px;
  height: 25px;
  padding: 5px 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background: #f0145a;
  border-radius: 8px;
}
.header .nav__primary .nav__items .circle::before,
.header .nav__primary .nav__items--additionally .circle::before {
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
}
.header .nav__primary .nav__items--additionally {
  display: flex;
  padding-top: 18.5px;
  justify-content: flex-end;
}
.header .picture {
  position: relative;
  bottom: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .picture__items {
  position: absolute;
  top: 320px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: white;
}
.header .picture__btn {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.header .info {
  display: none;
  justify-content: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.header .info_active {
  display: flex;
}
.header .info-element {
  content: "";
  display: block;
  width: 4px;
  height: 250px;
  background: rgba(255, 255, 255, 0.3);
}
.header .info__items {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 38px;
  width: 30%;
}
.header .info__items .info__text--special {
  color: #f0145a;
  line-height: 30px;
  text-align: right;
}
.header .info__items .info__text {
  padding-top: 30px;
  color: #b3b3ba;
  text-align: right;
}
.header .info .info__primary {
  padding-top: 10px;
  width: 50%;
}
.header .info .info__primary .info__text--primary {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
  color: white;
}
.header .info .info__primary .info__text--secondary {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  font-style: normal;
  color: white;
}
.header .servises {
  padding-top: 74px;
}
.header .servises__title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}
.header .servises__subtitle {
  color: #f0145a;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
}
.header .icon {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
@media (max-width: 1024px) {
  .header .icon {
    display: flex;
    flex-wrap: wrap;
  }
}
.header .icon__title {
  padding-top: 60px;
}
.header .icon__title .icon__text--special {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  width: 400px;
  padding-top: 15px;
  color: #24a3ff;
}
@media (max-width: 1024px) {
  .header .icon__title .icon__text--special {
    width: 261px;
  }
}
@media (max-width: 768px) {
  .header .icon__title .icon__text--special {
    width: 294px;
  }
}
@media (max-width: 320px) {
  .header .icon__title .icon__text--special {
    width: 315px;
  }
}
.header .icon__title .icon__text {
  width: 400px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  padding-top: 15px;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .header .icon__title .icon__text {
    width: 261px;
  }
}
@media (max-width: 768px) {
  .header .icon__title .icon__text {
    width: 294px;
  }
}
@media (max-width: 320px) {
  .header .icon__title .icon__text {
    width: 315px;
  }
}/*# sourceMappingURL=style.css.map */