@import "mixin/mixin"; // mixin

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$font: "Montserrat",
sans-serif;
$font-weight400: normal;
$font-weight700: bold;
$primary-color: white;

$breakpoint__1200: 1200px; // breakpoint 1200
$breakpoint__1024: 1024px; // breakpoint 1024px
$breakpoint__768: 768px; // breakpoint 768px
$breakpoint__320: 320px; // breakpoint 320px


.header,
.main {
  overflow: hidden;
  overflow-x: scroll;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 50px 50px;

  @media (max-width: $breakpoint__1200) {
    width: 95%;
    padding: 50px 60px;
  }

  @media (max-width: $breakpoint__1024) {
    width: 95%;
    padding: 50px 20px;
  }

  @media (max-width: $breakpoint__768) {
    width: 100%;
    padding: 50px 40px;
  }

  @media (max-width: $breakpoint__320) {
    width: 95%;
    padding: 50px 20px;
  }
}

.header {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);

  .nav {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;

    @media (max-width: 768px) {
      display: flex;
      width: 90%;
      flex-wrap: wrap;
    }

    &__logo {
      z-index: 1;
      // flex-basis: 20%;
    }

    &__primary {
      display: flex;
      // padding-bottom: 25px;
      flex-direction: column;

      .nav__items,
      .nav__items--additionally {
        z-index: 1;
        display: flex;
        align-items: center;
        column-gap: 12px;
        color: $primary-color;

        .nav__item {
          font-family: $font;
          font-weight: $font-weight700;
        }

        .nav__item--special {
          font-family: $font;
          font-weight: 400;
        }

        .circle:hover::before {
          background-color: #f0145a;
        }

        .nav__item,
        .nav__item--special {
          .nav__link {
            transition: 500ms;

            &:hover {
              color: #f0145a;
              transition: 500ms;
            }
          }
        }

        .btn {
          width: 33px;
          height: 25px;
          padding: 5px 5px;
          font-family: $font;
          font-weight: $font-weight700;
          background: #f0145a;
          border-radius: 8px;
        }

        .circle::before {
          display: block;
          content: "";
          width: 6px;
          height: 6px;
          background: $primary-color;
          border-radius: 50%;
        }
      }

      .nav__items--additionally {
        display: flex;
        padding-top: 18.5px;
        justify-content: flex-end;
      }
    }
  }

  .picture {
    position: relative;
    bottom: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    // z-index: 0;

    &__items {
      position: absolute;
      top: 320px;
      font-family: $font;
      font-weight: $font-weight700;
      font-size: 38px;
      line-height: 46px;
      text-align: center;
      color: $primary-color;
    }

    &__btn {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }

  .info {
    display: none;
    justify-content: center;
    column-gap: 60px;

    &_active {
      display: flex;
    }

    &-element {
      content: "";
      display: block;
      width: 4px;
      height: 250px;
      background: rgba(255, 255, 255, 0.3);
    }

    &__items {
      display: flex;
      flex-direction: column;
      font-family: $font;
      font-weight: $font-weight700;
      font-size: 38px;
      width: 30%;

      .info__text--special {
        color: #f0145a;
        line-height: 30px;
        text-align: right;
      }

      .info__text {
        padding-top: 30px;
        color: #b3b3ba;
        text-align: right;
      }
    }

    .info__primary {
      padding-top: 10px;
      width: 50%;

      .info__text--primary {
        font-family: $font;
        font-weight: $font-weight700;
        font-size: 30px;
        margin-bottom: 30px;
        color: $primary-color;
      }

      .info__text--secondary {
        font-family: $font;
        font-weight: $font-weight400;
        font-size: 19px;
        // width: 405px;
        line-height: 30px;
        font-style: normal;
        color: $primary-color;
      }
    }
  }

  .servises {
    padding-top: 74px;

    &__title {
      font-family: $font;
      font-weight: $font-weight700;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #24a3ff;
    }

    &__subtitle {
      color: #f0145a;
      font-family: $font;
      font-weight: 700;
      font-size: 38px;
      line-height: 46px;
    }
  }

  .icon {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 25px;

    @media (max-width: $breakpoint__1024) {
      // 1024px
      display: flex;
      flex-wrap: wrap;
    }

    &__title {
      padding-top: 60px;

      .icon__text--special {
        font-family: $font;
        font-weight: $font-weight700;
        font-size: 22px;
        line-height: 27px;
        width: 400px;
        padding-top: 15px;
        color: #24a3ff;

        // @media (max-width: $breakpoint__1200) {
        //   width: 493px;
        // }

        @media (max-width: $breakpoint__1024) {
          width: 261px;
        }

        @media (max-width: $breakpoint__768) {
          width: 294px;
        }

        @media (max-width: $breakpoint__320) {
          width: 315px;
        }
      }

      .icon__text {
        width: 400px;
        font-family: $font;
        font-weight: $font-weight400;
        font-size: 16px;
        line-height: 26px;
        padding-top: 15px;
        color: #ffffff;

        // @media (max-width: $breakpoint__1200) {
        //   width: 400px;
        // }

        @media (max-width: $breakpoint__1024) {
          width: 261px;
        }

        @media (max-width: $breakpoint__768) {
          width: 294px;
        }

        @media (max-width: $breakpoint__320) {
          width: 315px;
        }
      }
    }
  }
}

.main {
  .line__wrapper {
    margin: 0px 20px;

    .line::before {
      content: "";
      display: block;
      width: 1470px;
      height: 5px;
      background: #cacadb;
      border-radius: 0px 0px 12px 12px;
    }
  }

  .line__additionally {
    margin: 0px 40px;

    .line__item::after {
      content: "";
      display: block;
      width: 1430px;
      height: 10px;
      background: #e7e7f2;
      border-radius: 0px 0px 12px 12px;
    }
  }

  .about-us {
    display: flex;
    margin-top: 20px 0px 0px 0px;

    &__title {
      &__picture, #picture {
        border-radius: 12px 0px 0px 12px;
        opacity: 1;
      }

      #picture {
        width: 400px;
        height: 370px;
        opacity: 0;
        position: absolute;
      }
    }

    &__subtitle {
      width: 1320px;
      height: 344px;
      background: #f5f5fa;
      border-radius: 12px;
    }

    &__subtitle {
      padding: 30px 20px;

      .about-us__text,
      .about-us__text--special,
      .about-us__text--primary {
        font-family: $font;
        font-weight: $font-weight700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      .about-us__text {
        color: #B3B3BA;
        font-size: 16px;
        text-transform: none;
      }


      .about-us__text--special {
        color: #24a3ff;
        margin-bottom: 5px;
      }

      .about-us__text--primary {
        font-size: 30px;
        width: 830px;
        line-height: 46px;
        margin-bottom: 30px;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-emphasis-color: transparent;
      }

      .about-us__text--secondary {
        font-family: $font;
        font-weight: $font-weight400;
        color: #B3B3BA;
        font-size: 14px;
        margin-top: 6px;
      }
    }
  }

  .btn {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    margin-top: 30px;

    &__slider,
    &__slider--primary,
    &__slider--secondary {
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }

    &__slider {
      background: #24A3FF;
    }

    &__slider--primary,
    &__slider--secondary {
      background: #24A3FF;
      transition: 0.5s all;
      cursor: pointer;
      opacity: 0.2;

      &:hover {
        background: #24A3FF;
        opacity: 1;
        transition: 0.5s all;
      }
    }
  }
}